@model IEnumerable<HCPortal.Models.PredmetLOC>


@{
    ViewBag.Title = "PregledPredmeta";
    Layout = "~/Views/Shared/_LayoutModerator.cshtml";
}

<div id="page-content-wrapper">

    <div class="container-fluid">
        <h1 class="text-center pt-5">Pregled predmeta</h1>
        <hr />
        <h4 class="text-center">Ime i Prezime:@ViewBag.ucenik.ime  @ViewBag.ucenik.prezime JMBG:@ViewBag.ucenik.jmbg</h4>
        <div class="row justify-content-center">

            <div class="col-lg-7">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th>Sifra</th>
                            <th>Naziv</th>
                            <th>Ocene</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var predmet in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => predmet.sifra_predmeta)</td>
                                <td>@Html.DisplayFor(model => predmet.naziv)</td>
                                <td>@Html.ActionLink("Pregledaj","PregledOcena","Dnevnik", new {ucenik_sifra = ViewBag.sifra_ucenika, predmet_sifra = predmet.sifra_predmeta }, new {@class="btn btn-primary"})</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>



        </div>
    </div>
</div>
