
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="menu-toggle" href="#">HCPortal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">


            @{
                if (Session["UcenikPrijavljen"] != null)
                {
                    <a class='nav-item nav-link' href='#'>@Session["UcenikKorisnickoIme"] <i class='fas fa-user-circle'></i></a>
                }

                if (Session["ModeratorPrijavljen"] != null)
                {
                   
                    <a class='nav-item nav-link' href='#'>@Session["ModeratorKorisnickoIme"] <i class='fas fa-user-circle'></i></a>
                }
            }



            <a class="nav-item nav-link" href="@Url.Action("Logout","Auth")">Odjavi se <i class="fas fa-sign-out-alt"></i></a>

        </div>
    </div>
</nav>