
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@Html.ActionLink("Moderator","LoginModerator",null, new {@class="btn btn-success" })

@Html.ActionLink("Ucenik","LoginUcenik", null,new { @class = "btn btn-danger" })

