
@{
    ViewBag.Title = "Index";
}



<div class="row justify-content-center">
    <div class="col-lg-4">
        @Html.ActionLink("Moderator","LoginModerator",null, new {@class="btn btn-primary btn-lg btn-block" })
        <br />
        @Html.ActionLink("Ucenik","LoginUcenik", null,new { @class = "btn btn-danger btn-lg btn-block" })
    </div>
</div>

