@model HCPortal.Models.UcenikLOC

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";

}

<div class="container signin-container">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-8">
            <div class="card signin-card">
                <div class="card-block">
                    <img src="~/Content/assets/ucenik.png" class="img img-fluid signin-img">
                    <h4 class="text-center">Ucenik</h4>


                    @using (Html.BeginForm("LoginUcenik", "Auth", FormMethod.Post, new { @class = "sigin-form", onsubmit = "return prijava_ucenika()" }))
                    {
                        @Html.AntiForgeryToken();

                        <div class="form-group">
                            @Html.EditorFor(model => model.korisnicko_ime, new { htmlAttributes = new { @class = "form-control", placeholder = "Korisnicko ime",id="kor_ime" } })
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.sifra, new { htmlAttributes = new { @class = "form-control", placeholder = "Sifra", type = "password",id="sifra" } })
                        </div>


                        <button type="submit" class="btn signin-btn btn-lg">Prijavi Se</button>
                    }



                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>

<script>

    function validacija(kor_ime, sifra) {

        var rezultat = true;

        if (kor_ime === '' || kor_ime === null) {
            alert('Unesite korisnicko ime');
            rezultat = false;
        }

        else if (sifra === '' || sifra === null) {
            alert('Unesite sifru');
            rezultat = false;
        }


        return rezultat;
    }



    function prijava_ucenika() {

        var korisnicko_ime = document.getElementById("kor_ime").value;
        var sifra = document.getElementById("sifra").value;

        var rez = validacija(korisnicko_ime, sifra);

        if (rez == true) {
            return true;
        }
        return false;
    }

</script>